<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Error Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            padding: 20px;
        }
        h1 { text-align: center; }
        .error { color: red; }
    </style>
</head>
<body>
    <h1>Build Error Report</h1>
    <h3>Build Info:</h3>
    <p><strong>Build Number:</strong> {{ build_number }}</p>
    <p><strong>Git Commit:</strong> {{ commit_id }}</p>
    <p><strong>Commit Message:</strong> {{ commit_message }}</p>
    <p><strong>Commit Date:</strong> {{ commit_date }}</p>

   
    <h3>Error Logs:</h3>
    {% if error_logs %}
        <ul>
        {% for error in error_logs %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No errors found in this build.</p>
    {% endif %}
    
    <h3>Vulnerability Scan Results:</h3>

    {% if vulnerabilities %}
    <table>
        <thead>
            <tr class="header">
                <th>ID</th>
                <th>Package</th>
                <th>Installed Version</th>
                <th>Fixed Version</th>
                <th>Severity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for vuln in vulnerabilities %}
            <tr>
                <td>{{ vuln.VulnerabilityID }}</td>
                <td>{{ vuln.PkgName }}</td>
                <td>{{ vuln.InstalledVersion }}</td>
                <td>{{ vuln.FixedVersion }}</td>
                <td class="{{ 'error' if vuln.Severity in ['CRITICAL', 'HIGH'] else '' }}">{{ vuln.Severity }}</td>
                <td>{{ vuln.Description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No vulnerabilities found.</p>
    {% endif %}
    
    
    



</body>
</html>
